{
  "extends": "airbnb-base",
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": 2,
    "no-unused-vars": 2,
    "max-len": [2, 200],
    "no-restricted-syntax": [2, "DebuggerStatement", "LabeledStatement", "WithStatement"],
    "no-extra-bind": 0,
    "no-param-reassign": 0,
    "no-console": 0,
  "no-underscore-dangle": 0,
  "func-names": 0,
  "no-loop-func": 0,
    "import/no-unresolved": 0
  }
}
